<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=PC-LEVA\SQLEXPRESS;Initial Catalog=dbEPiDefaultValuesMvcSample;Integrated Security=False;User ID=dbUserdbEPiDefaultValuesMvcSample;Password=!7C67287j9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>