obj/
Debug/
Release/
!repositories.config
packages/
*.user
EPiDefaultValues*.nupkg
*.suo
*.bak
EPiDefaultValuesMvcSample/bin/
*.log
EPiDefaultValuesMvcSample/modules/_protected/CMS/EPiServer.Cms.Shell.UI.zip
EPiDefaultValuesMvcSample/modules/_protected/Shell/EPiServer.Shell.UI.zip
